.contact_container{
    display: flex;
    height: 100vh;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
input,textarea{
    margin-top: 1rem;
    font-family: "Raleway";
    font-size: 1rem;
    padding: 1rem;
    border: none;
    width: 30rem;
}
.contact_btn{
    margin: 1rem;
    border-radius: 0;
    font-size: 1.5rem;
}
input:focus,textarea:focus{
    outline: none;
}
@media screen and (max-width:580px) {
    input,textarea{
        width: 100%;
    }
    .contact_container{
        margin: 1rem;
    }
}