.navbar_container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    background-color: black;
    z-index: 1;
}
.navbar_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_menu_item{
    padding-left: 5rem;
}
.social_link_container{
    position: fixed;
    top: 35%;
    left: 0;
}
.social_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.social_link_li{
    width: 8rem;
    padding: 1rem;
    margin-left: -6.1rem;
    transition: .3s;
}
.social_link_li:hover{
    margin-left: 0;
}
.mobile_menu_btn{
    position: fixed;
    top: 1.5rem;
    right: 1rem;  
    z-index: 3;
    display: none;
}
.mobile_menu{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 2;
}
.mobile_menu_item{
    padding: 1rem;
    font-size: 2.5rem;
}
@media screen and (max-width:700px) {
    .navbar_menu{
        display: none;
    }
    .mobile_menu_btn{
        display: block;
    }
    
}
@media screen and (min-width:700px) {
    .mobile_menu{
        display: none;
    }
    
}
@media screen and (max-width:1078px) {
    .social_link_container{
        display: none;
    }
    
}